.closeButton {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #e6422c;
    border: solid 2px rgba(255, 255, 255, 0.25);
}

.window {
    display: flex; flex-direction: column;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    padding: 16px;
    border: solid 2px #25242a; border-radius: 16px;
    width: 512px; height: 512px;
    background-color: #f0f8ff;
}

.windowHeader {
    width: 100%;
    align-items: center; justify-content: space-between;
    height: 32px;
    cursor: grab;
}

.bar {
    position: absolute;
    width: 100%;
    display: flex; justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.8);
    color: #25242a;
    border: solid 2px #25242a;
}

h1 {
    color: #25242a;
    width: 100%;
}

p {
    color: #25242a;
    width: 100%;
}